# Distribution / packaging
.Python
__pycache__/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

.idea/

# Notes
/docs/*.txt

# Configuration files that we don't want leaked
alembic.ini
